@page
@model AppWeb.Pages.IndexModel
@{
}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Login Page with Background Image Example</title>
    <link rel="stylesheet" href="~/Pages/Index.cshtml.css" />
    <style>
        h1 {
            color: green;
            font-style: italic;
            text-shadow: 2px 2px 2px gray;
        }
    </style>
</head>

<body>

    <h1>teste</h1>


    <!--
    <div id="bg"></div>
    <form>
        <div class="form-field">
            <input type="email" placeholder="Email / Username" required />
        </div>

        <div class="form-field">
            <input type="password" placeholder="Password" required />
        </div>

        <div class="form-field">
            <button class="btn" type="submit">Log in</button>
        </div>
    </form>
    -->
</body>
</html>