@page
@model AppWeb.Pages.IndexModel
@{
}

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Login Page with Background Image Example</title>
    <link rel="stylesheet" href="~/css/Styles.css" />
</head>

<body>
    <div class="cores-classe">
        <h1>teste</h1>
    </div>

    
    <div id="bg"></div>
    <form>
        <div class="form-field">
            <input type="email" placeholder="Email / Username" required />
        </div>

        <div class="form-field">
            <input type="password" placeholder="Password" required />
        </div>

        <div class="form-field">
            <button class="btn" type="submit">Log in</button>
        </div>
    </form>
    
</body>
</html>